.hbscreen-new .year-rate {
  .year-chart {
    width: 100%;
    flex: 1;
    position: relative;
    overflow: hidden;
    .station-select {
      width: 14em;
      margin-right: 2em;
      z-index: 3;
      float: right;
      .ant-select {
        .ant-select-selector {
          border: none !important;
          background: RGBA(5, 44, 79, 1);
        }
        .ant-select-selector {
          font-size: 16px;
        }
      }
    }
  }
}
