.nhb-center-top {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 13px;
  .hb-center-tbox {
    display: flex;
    // align-items: center;
    margin-right: 2em;
    .tbox-right {
      display: flex;
      flex-direction: column;
      margin-left: 2em;
      .tbox-right-name {
        color: rgba(0, 242, 255, 1);
        font-size: 2em;
        .unit {
          color: rgba(0, 242, 255, 0.6);
          font-size: 0.8em;
        }
      }
      .tbox-right-value {
        @font-face {
          font-family: DigitalFont;
          src: url(@/styles/font/dp-hei.ttf);
        }
        font-family: DigitalFont, sans-serif;
        font-size: 3em;
        line-height: 1.5em;
        // color: rgba(81, 145, 255, 1);
        // margin-top: 2em;
      }
    }
    @icon-list: capacity, actPower, day, speed, radiation;
    each(@icon-list, {
      .i-@{value}  {
        background-image: ~"url(@/assets/hubei-screen/new/@{value}.png)";
      }
    });
    i {
      height: 5.1em;
      width: 6.9em;
      background-repeat: no-repeat;
      background-size: cover;
      margin-right: 2em;
    }
  }
  
}