.nhb-elec-ov {
  height: 100%;
  width: 100%;
  
  .elec-chart {
    // margin-top: 1em;
    flex: 1;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow: hidden;
    .elec-com {
      width: 48%;
      height: 100%;
      overflow: hidden;
      font-size: 10px;
    }
  }
}