.hn-header {
  width: 100%;
  height: 11em;
  position: absolute;
  background-image: url(/src/assets/henan-screen/bg-header.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 11;
  .hn-header-center {
    height: 9em;
    display: flex;
    align-items: center;
    justify-content: center;
    .center {
      font-size: 4.2em;
      line-height: 1;
      margin: 0 2em;
      color: #ffffff;
      cursor: pointer;
    }
    .left,.right { 
      font-size: 2.6em;
      line-height: 1;
      color: rgba(0, 255, 220, 1);
    }
  }
  .screenList {
    position: absolute;
    top: 5em;
    left: 10em;
    z-index: 3;
  }
  .security-day {
    // position: absolute;
    margin-top: 2em;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: center;
    @font-face {
      font-family: DigitalFont;
      src: url(@/styles/font/dp-hei.ttf);
    }
    font-family: DigitalFont, sans-serif;
    .scrt-name {
      font-size: 3.2em;
      line-height: 1;
      color: RGBA(0, 227, 255, 1);
    }
    .scrt-val {
      display: flex;
      margin: 0 2em;
      .scrt-vitem {
        width: 1em;
        height: 1.2em;
        font-size: 4em;
        margin-right: 0.25em;
        text-align: center;
        background: linear-gradient(to bottom, rgba(7,20,38,0) 0%, #048378 100%);
        border-radius: 0.1em;
        color: #ffffff;
      }
    }
  }
}