@import "@/styles/layout-flex";

.device-matrix-by-list {
  .d-flex(0.9em, center, flex-start);
  flex-wrap: wrap;
  width: 100%;
  // position: relative;
  .site-pop-overlay {
    padding: .625rem;
    position: fixed;
    // position: absolute;
    z-index: 2;
    background:  var(--bg-active);
  }
}
