@import "@/styles/layout-flex";

.device-matrix-wrap {
  .flex-column(0, flex-start, flex-start);
  font-weight: normal;
  font-size: 1rem;
  width: 100%;

  // card-title 组件样式变量
  --c-title-border-color: var(--bg-active);
  --c-title-h: 100%;
  .device-matrix-wrap-link {
    width: 100%;
    color: var(--white-color);
  }
  &:nth-child(odd) {
    --c-title-border-color: var(--deep-primary);
  }

  .type-of-device-matrix {
    .flex-column(0);
    width: 100%;
  }
}
