@import "@/styles/layout-flex";

.info-card.dvs-glb-filter-wrap {
  .ant-card-body {
    overflow: auto;
  }
  .dvs-glb-state-filter {
    .flex-column(1em, flex-start);
    .state-btn-group {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      justify-content: space-between;
      margin-top: 1em;
      font-size: 1.2em;
      .state-button {
        height: 2.6em;
        align-items: center;
        .state-btn-name,
        .state-btn-count {
          .d-flex(0, center, center);
          height: 100%;
          line-height: 1em;
        }
        .state-btn-name {
          width: 6em;
        }
        .state-btn-count {
          width: 100%;
        }
      }
    }
  }
}
