.mtx-state-list {
  display: flex;
  .mtx-state-item {
    padding: 0.2em 0.6em;
    margin-right: 1em;
    border-radius: .5em;
    border: 1px solid rgba(150,165,184,0.52);
    display: flex;
    align-items: center;
    cursor: pointer;
    .icon {
      display: inline-block;
      width: 1em;
      height: 1em;
      margin-right: 0.3em;
      border-radius: 50%;
    }
  }
}