.matrix-stn-quota {
  position: absolute;
  top: .3em;
  right: 1em;
  display: flex;
  .stn-quota-item {
    text-align: center;
    // padding-right: 1em;
    // margin-right: 1em;
    border-right: 1px solid rgba(23, 63, 165, 0.71);
    &:last-child {
      border: none;
    }
    .item1 {
      font-size: 1em;
      color: rgba(93, 163, 249, 1);
    }
    .item2 {
      color: var(--white-color);
      font-weight: bold;
      font-size: 1.4em;
      padding: 0 0.6em;
    }
  }
}