.area-act-quality {
  width: 100%;
  display: flex;
  // justify-content: space-between;
  
  .aq-item {
    width: 16%;
    height: 5em;
    padding: 0.4em 0.5em;
    margin-right: 1em;
    text-align: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    @icon-list: 1, 2, 3, 4, 5, 6;
    each(@icon-list, {
      &:nth-child(@{value}) {
        background-image: ~"url(@/assets/monitor/abox@{value}.png)";
      }
    })
    .aq-item-top {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      line-height: 1;
      .top-l {
        font-size: 2.5em;
      }
      .top-r {
        font-size: 1.5em;
      }
    }
    .label {
      font-size: 0.9em;
      line-height: 1;
    }
  }
}