
.com-elec {
  height: 12em;
  width: 100%;
  padding: 1em 1.3em;
  background-image: url(/src/assets/hubei-screen/new/elec-box.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  .elec-box-text {
    width: 8em;
    height: 8em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(12, 179, 241, .2);
    border-radius: 50%;
    span {
      width: 2em;
      height: 2em;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      font-size: 3em;
      border: .1em solid rgba(12, 179, 241, 1);
    }
  }
  .elec-quota {
    display: flex;
    margin-left: 1.5em;
    .common-quota-box {
      margin-right: 3em;
    }
  }
  .elec-chart-box {
    width: 12em;
    height: 100%;
  }
}