.common-quota-box {
  display: flex;
  flex-direction: column;
  .cquota-box-name {
    color: rgba(0, 242, 255, 1);
    font-size: 2em;
    display: flex;
    align-items: flex-end;
    flex-wrap: nowrap;
    .unit {
      margin-left: .3em;
      color: rgba(0, 242, 255, 0.6);
      font-size: 0.8em;
    }
  }
  .cquota-box-value {
    @font-face {
      font-family: DigitalFont;
      src: url(@/styles/font/dp-hei.ttf);
    }
    font-family: DigitalFont, sans-serif;
    font-size: 2.6em;
    line-height: 1.5em;
    // color: rgba(81, 145, 255, 1);
    // margin-top: 2em;
  }
}