.com-radio {
  height: 100%;
  display: flex;
  .choose-item {
    font-size: 2em;
    width: 4.6em;
    height: 100%;
    margin-right: .4em;
    cursor: pointer;
    background-image: url(/src/assets/hubei-screen/new/choose-icon.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
  }
  .active-i {
    opacity: 1;
  }
}