.hb1-tl {
  width: 100%;
  min-height: 1080px;
  height: 100%;
  // width: 1280px;
  // height: 1080px;
  padding: 4.8em 0 4.8em 4.8em;
  font-size: 12px;
  position: relative;
  background-image: url(/src/assets/hubei-screen/new/bg-left.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  .screen-lr-box {
    height: 32%;
    margin-bottom: 2.4em;
    &:last-child {
      margin-bottom: 0;
    }
  }
}