.area-energy {
  .ant-table.ant-table-bordered {
    .ant-table-container {
      border-inline-start: 1px solid #265B9F;
      border-top: 1px solid #265B9F;
    }
    .ant-table-cell {
      // padding: 0 !important;
      border-inline-end: 1px solid #265B9F !important;
      border-bottom: 1px solid #265B9F !important;
    }
    .ant-table-body {
      overflow-y: auto !important;
      .ant-table-cell {
        // padding: 0 !important;
      }
    }
  }
  .iconfont {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    display: inline-block;
  }
}