.rp-popver-wai {
  position: relative;
  
  .rp-popver-span {
    cursor: pointer;
  }
  .pp-div {
    position: absolute;
    z-index: 3;
    background: rgba(8, 57, 114, 1);
    opacity: 1;
    width: max-content;
    padding: 0.5em;
  }
}