.nx-right-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  .nx-right-content--left {
    width: 35%;
    height: 100%;
  }
  .nx-right-content--right {
    width: 64%;
    height: 100%;
    padding-left: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .nx-right-38 {
      height: 38%;
    }
    .nx-right-flex {
      height: 45%;
    }
  }
}