.hn-stn-detail {
  .ant-table {
    background: transparent !important;
    font-size: 16px !important;
    .ant-table-thead > tr > th,
    .ant-table-thead > tr > td {
      background: linear-gradient( 180deg, rgba(52,156,255,0) 0%, rgba(8,104,188,0.34) 100%) !important;
    }
    .ant-table-body {
      padding: 0;
    }
    .ant-table-tbody {
      tr {
        background-color: transparent !important;
      }
      .ant-table-cell-ellipsis {
        background: transparent !important;
      }
    }
    
  }
  .ant-table.ant-table-bordered {
    .ant-table-container {
      border-inline-start: 1px solid #265B9F;
      border-top: 1px solid #265B9F;
    }
    .ant-table-cell {
      // padding: 0 !important;
      background-color: transparent !important;
      border-inline-end: 1px solid #265B9F !important;
      border-bottom: 1px solid #265B9F !important;
    }
    .ant-table-body {
      .ant-table-cell {
        padding: 0.45em !important;
        // border-inline-end: 1px solid #265B9F !important;
      }
    }
  }
}