.ln-screen-right--content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .ln-lctnt-box {
    flex: 1;
    overflow: hidden;
    margin: 1em 0;
    .lctnt-box-item {
      height: 48%;
      margin-bottom: 1em;
    }
  }
}