.nx-elec-form {
  // height: 100%;
  padding: 1em 2em;
  overflow: auto;
  position: absolute;
  top: 7em;
  background-color: rgb(3, 45, 134);
  z-index: 99;
  .nx-form-close {
    height: 3em;
    border-bottom: 1px solid rgb(223, 220, 220);
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
      font-size: 1.8em;
    }
  }
  .nx-form-content {
    margin-top: 1em;
  }
  .sq-elec-form-title {
    display: flex;
    margin-bottom: 1em;
    span {
      width: 30%;
      font-size: 1.4em;
    }
  }
  .reset-item {
    display: flex;
    margin-bottom: 0.2em;
  }
  
  .ant-btn-dashed {
    width: 30%;
    display: block;
    color: #164ec5;
  }
}