.nx-elec-ovw {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  .pdt-item {
    width: 33%;
    height: 100%;
    padding-left: 1em;
    position: relative;
    display: flex;
    align-items: center;
    // justify-content: space-between;
    background-image: url("@/assets/ningxia-screen/elec-box.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    .pdt-item-chart {
      width: 13em;
      position: absolute;
      right: 3.7em;
    }
    .pdt-item-left {
      width: 61%;
    }
  }
}