.ant-spin-container {
  height: 100%
}
.area-overview {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 10px;
  .area-ov-top {
    display: flex;
    .ov-top-item {
      width: 8.5em;
      height: 2.5em;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      background-image: url("@/assets/menu/rd_btn_bg.png") !important;
      /* 背景图垂直、水平均居中 */
      background-position: center !important;
      /* 背景图不平铺 */
      background-repeat: no-repeat !important;
      /* 让背景图基于容器大小伸缩 */
      background-size: 100% 100% !important;
      opacity: 0.6;
      &.active-i {
        opacity: 1;
      }
    }
  }
  .ant-tabs {
    width: 500px;
  }
  .select {
    position: absolute;
    top: 0;
    right: 1.2em;
    display: flex;
    .select-info-icon {
      margin-right: .8em;
    }
  }
  .area-overview-content {
    flex: 1;
    display: flex;
    overflow: auto;
    .area-overview-content--left {
      width: 27em;
      height: 100%;
    }
    .area-overview-content--right {
      flex: 1;
    }
  }
}