.alarm-ad {
  .alarm-ad-header {
    display: flex;
    .header-col {
      width: 20%;
      padding: 0.5em 1em;
    }
  }
  .alarm-ad-content {
    .content-item {
      display: flex;
      .type {
        width: 20%;
        padding: 0.5em 1em;
      }
      .content-item-right {
        flex: 1;
        display: flex;
        flex-direction: column;
        .item-row {
          display: flex;
          .item {
            flex: 1;
            padding: 0.5em 1em;
          }
        }
      }
    }
  }
  .alarm-btn {
    text-align: right;
  }
}