@import "@/styles/layout-flex";

@import "@/styles/device-state";
each(@control-type-set, .(@v, @k) {
  .control-btn-color(@k, @v)
});
.control-btn-group {
  .flex-column(0.6em, flex-start, space-evenly);
  width: 100%;
  height: 100%;
  .btn-row {
    .d-flex(1em, center, space-evenly);
    width: 100%;
  }
  .ant-btn {
    padding: 0 1em;
    border: none;
    outline: none;
  }
}
