.common-quota-box {
  display: flex;
  flex-direction: column;
  .cquota-box-name {
    color: rgba(139, 192, 255, 1);
    font-size: 2.4em;
    line-height: 1;
    margin-bottom: .3em;
    white-space: nowrap;
  }
  .cquota-box-value {
    // @font-face {
    //   font-family: DigitalFont;
    //   src: url(@/styles/font/dp-hei.ttf);
    // }
    // font-family: DigitalFont, sans-serif;
    font-size: 4.5em;
    line-height: 1.2;
    color: rgba(255, 255, 255, 1);
    // margin-top: 2em;
    white-space: nowrap;
    .unit {
      margin-left: .2em;
      color: rgba(255, 255, 255, .6);
      font-size: 0.5em;
    }
  }
}