.anhui-screen {
  width: 5760px;
  height: 2700px;
  background-image: url(/src/assets/large-screen/anhui-screen.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}