.hb2-center {
  width: 100%;
  height: 100%;
  .hbs-center-top {
    height: 70%;
  }
  .hbs-center-bottom {
    height: 30%;
    display: flex;
    justify-content: space-between;
    .hbs-cb-con {
      width: 49.5%;
      height: 100%;
    }
  }
}
