.device-group {
  width: 100%;
  padding: .5rem .9375rem 0 .9375rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  .line-metrix-group {
    display: flex;
    margin-bottom: .25rem;
    .line-group {
      flex: 1;
      display: flex;
      flex-wrap: wrap;
    }
  }
  .matrix-by-group .device-matrix-by-list {
    padding-left: 0.5em;
  }

  .line-name {
    width: 4em;
    color: darkseagreen;
    font-weight: 600;
    word-wrap: break-word;
    border-right: 2px solid darkseagreen;
  }
  
}