@import "@/styles/layout-flex";

.custom-checkbox-wrap {
  .d-flex(0.4em, center, space-between);
  width: 100%;
  height: 100%;
  .check-label {
    .d-flex(0, center, space-between);
    width: 100%;
  }
}
