@import "@/styles/layout-flex";
@import "@/styles/style-funs";

.signan-form-wrap {
  
  .signan-form-choose {
    margin-bottom: 1em;
    display: flex;
    align-items: center;
  }
  .signan-form-content {
    @checkbox-wrap-height: 2em;

    height: @checkbox-wrap-height * 9;
    .d-flex(1em, flex-start, flex-start);
    padding: 1em;
    width: 100%;
    overflow: auto;
    border: 1px solid rgba(62, 112, 238, 0.61);
    .ant-input-disabled {
      color: #ffffff;
    }
    .ant-checkbox-disabled {
      .ant-checkbox-inner:after {
        border-color: #ffffff;
      }
    }
  }
  .custom-checkbox-group-wrap {
    flex: 0 0 15em;
    margin: 0;
    padding: 0;
    border-right: 1px solid rgba(62, 112, 238, 0.61);

    .custom-checkbox-wrap {
      .d-flex(0.5em, center, space-between);
      width: 100%;
      height: 2em;
      &:nth-child(odd) {
        background-color: rgba(16, 65, 113, 0.27);
      }
      .check-label {
        &.active,
        &:hover {
          background-color: rgba(16, 65, 113, 1);
        }
      }
    }
  }
  .remark-box {
    display: block;
    height: 100%;
    overflow: auto;
  }
  // .device-signal-wrap {
  //   .d-flex(0.2em, center, flex-end);
  //   .signal-icon-box {
  //     .d-flex(0.5em, center, flex-end);
  //   }
  // }
  .signal-icon {
    display: block;
    width: 1.8em;
    height: 1.4em;
    font-style: normal;
    @icon-list: 101,102,103,104,105,106,107,108,109,;
    each(range(8), {
      &.signal-0@{value} {
        .full-img-bg("@/assets/device/signal_0@{value}.png");
      }
    });
  }
  .bsign-icon {
    display: block;
    width: 2.4em;
    height: 1.7em;
    padding-top: 0.4em;
    font-size: 1em;
    background-image: url(/src/assets/device/signal.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
  }
}
