@import "@/styles/layout-flex";

.fan-tag {
  .d-flex(0, center, center);
  margin: 1px;
  font-size: 0.6em;
  text-align: center;
  width: 5em;
  height: 2.4em;
  line-height: 1em;
  font-weight: 600;
  // font-style: italic;
  border-radius: 0.4em;
  border: 1px solid;

  &:hover {
    box-shadow: 0 0 8px 2px rgba(255, 255, 255, 0.4);
  }
}
