.ant-popover .ant-popover-title {
  border-bottom: 1px solid var(--graycolor);
  box-shadow: 4px 4px 40px 0 rgb(0 0 0 / 5%);
}

.popover-content-wrap {
  width: calc(var(--device-scale-ratio, 1) * 264px);
  height: calc(var(--device-scale-ratio, 1) * 124px);
}
