.popover-content {
  font-size: 0.9em;
  .metric-tag {
    &:nth-child(even){
      background: #143095FF;
    }
    .value-unit {
      justify-content: flex-start;
      
      .info-value {
        text-align: left;
      }
    }
  }
}
