
.sign-contextmenu-box {
  .sign-cxmenu {
    width: 100%;
    padding: 1em;
    font-size: .7em;
    background: linear-gradient( 180deg, rgba(37,84,198,1) 0%, rgba(4,13,43,1) 100%);
    border: 2px solid #2758D0;
    .sign-cxmenu-list {
      .active-item {
        padding: 5px;
        border-radius: 30px;
        background: rgba(32,130,255,0.36);
      }
    }
    .sign-cxmenu-item {
      height: 2em;
      line-height: 2em;
      cursor: pointer;
      font-size: 1.4em;
      &:hover {
        background: rgba(32,130,255,0.36);
      }
    }
  }
}