.nx-cbox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  .nx-cbox-content {
    width: 100%;
    margin-top: 1em;
    flex: 1;
    background-image: url(/src/assets/ningxia-screen/box.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
  }
}