.svg-cxmenu {
  padding: 1em;
  // min-width: 9.375em;
  background: linear-gradient( 180deg, rgba(37,84,198,0.84) 0%, rgba(4,13,43,0.85) 100%);
  border: 2px solid #2758D0;
  .svg-cxmenu-list {
    .active-item {
      padding: 5px;
      border-radius: 30px;
      background: rgba(32,130,255,0.36);
    }
  }
  .svg-cxmenu-item {
    height: 2.1875em;
    line-height: 2.1875em;
    cursor: pointer;
  }
  
}