.gdscreen .gd-elec-ov {
  height: 100%;
  width: 100%;
  .gd-elec-content {
    flex: 1;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    .elec-com {
      width: 50%;
      height: 100%;
      overflow: hidden;
    }
  }
}