.head-clock-wrap {
  // position: absolute;
  // left: 12%;
  @font-face {
    font-family: DigitalFont;
    src: url(@/styles/font/digital_regular.ttf);
  }
  font-family: DigitalFont, sans-serif;
  font-size: 1.4rem;
  width: 9em;
  white-space: nowrap;
  overflow: visible;
}