.yaoxin-box {
  height: 100%;
  padding: 0.2em 0 0.2em 0.2em;
  border: 1px solid rgba(62,112,238,0.38);
  display: flex;
  align-items: center;
  flex-direction: row;
  position: relative;
  .monitor-tbt-name {
    width: 90%;
    word-break: break-all;
  }
  .red {
    color: var(--fault);
  }
  .blue {
    color: var(--success-color);
  }
  .no {
    color: var(--graycolor);
  }
}