.confirm-formItem {
  
  .confirm-value {
    display: flex;
    align-items: center;
    .ant-input {
      flex: 1;
    }
    .confirm-formItem-name {
      margin-right: 1rem;
    }
  }
  .confirm-bottom {
    margin-top: 1.5rem;
    text-align: right;
    .ant-btn {
      margin-left: 1.5rem;
    }
  }
}