@import "@/styles/layout-flex";
.site-agvc {
  position: relative;
  .agvc-data-select {
    position: absolute;
    top: 0.5em;
    right: 2em;
    z-index: 1;
  }
  .chart-wrap {
    height: 100%;
  }
}
