.gdscreen .gd-scn-weather {
   .weather-chart {
    padding: 1.5em 2em;
    font-size: 8px;
    overflow: hidden;
    .slick-arrow {
      display: none !important;
    }
   }
  .weather-site-box {
    // width: 49%;
    height: fit-content;
    margin-bottom: 2.5em;
  }
}
