.table-head-gray {
  .ant-table-thead > tr > th,
  .ant-table-thead > tr > td {
    background-color: var(--table-head-color) !important;
  }
  .ant-table-tbody tr:nth-child(odd):not(:hover) {
    &,
    & .ant-table-cell-fix-left,
    & .ant-table-cell-fix-right {
      background-color: var(--table-hover-color);
    }
  }
  .ant-table-thead > tr > th .ant-table-column-sorter {
    color: #fff;
  }
  .ant-table-thead > tr > th,
  .ant-table-tbody > tr > td {
    border-inline-end-color: var(--menu-bg) !important;
  }
  .ant-table-tbody > tr.ant-table-row:hover > td {
    &,
    & .ant-table-cell-fix-left,
    & .ant-table-cell-fix-right {
      background-color: var(--bg-active) !important;
    }
  }

  .ant-table-tbody .ant-table-row-selected >.ant-table-cell {
    background: transparent !important;
  }
  .ant-radio-inner {
    border-radius: 0;
  }
}
.custom-table .ant-table-tbody .ant-table-row-selected >.ant-table-cell {
  background: transparent !important;
}