.sweather {
  position: relative;
  .sweather-header {
    // width: 100%;
    height: 3.125rem;
    position: absolute;
    right: .625rem;
    top: 1.3125rem;
  }
  .sweather-content {
    width: 100%;
    // height: calc(100% - 2.5rem);
    flex: 1;
    padding: 1.875rem 3.75rem;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
    // .sweather-list {
    //   height: 90%;
    // }
    .sweather-icon {
      width: 38.3125rem;
      height: 100%;
      position: absolute;
      right: 18.75rem;
      background-image: url("../../assets/weather/sw.png");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}