.area-elec-wrap{
  position: relative;
  .custom-table-wrap {
    .ant-table.ant-table-bordered {
      .ant-table-container {
        border-inline-start: 1px solid #265B9F;
        border-top: 1px solid #265B9F;
      }
      .ant-table-cell {
        // padding: 0 !important;
        border-inline-end: 1px solid #265B9F !important;
        border-bottom: 1px solid #265B9F !important;
      }
      .ant-table-body {
        overflow-y: auto !important;
        .ant-table-cell {
          padding: 0 !important;
          // border-inline-end: 1px solid #265B9F !important;
        }
      }
    }
  }
  .area-elec-btns {
    position: absolute;
    top: 0;
    right: 3em;
    z-index: 10;
  }
}