.nhb-center {
  height: 100%;
  width: 100%;
  padding: 10em 2em 0 2em;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  .nhb-map-top {
    // position: absolute;
    width: 100%;
    // margin-top: 4em;
  }
  .nhb-map-center {
    // flex: 1;
    height: 85%;
    width: 100%;
    // position: absolute;
    // height: 90%;
  }
  .nhb-map-bottom {
    width: 100%;
  }
}