@import "@/styles/layout-flex";

.info-card.device-part-monitor-wrap {
  gap: 1em;
  height: 100%;
  background-color: var(--bgcolor);
  overflow: hidden;
  & > .ant-card-head {
    .ant-card-head-title {
      display: none;
      flex: none;
    }
    .ant-card-extra {
      margin: 0;
      width: 90%;
    }
  }

  & > .ant-card-body {
    &::before {
      content: none;
    }
    @info-btn-height: 34px;
    // display: grid;
    // grid-template-rows: @info-btn-height 66% auto;
    // grid-template-columns: 100%;
    // row-gap: 1em;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: linear-gradient(135deg, rgba(36, 62, 91, 0.4) 0, #07153f 40%, #030c2a 80%);

    .part-button {
      .d-flex(1em, center, flex-start);
      position: relative;
      height: @info-btn-height;
      .part-btn {
        margin-right: 0.4em;
        background: linear-gradient(to bottom, #1d1f3a 20%, #373a3d 50%, #1d1f3a 80%);
      }
      .active,
      .part-btn:hover {
        box-shadow: 0 0 8px var(--graycolor);
        background: linear-gradient(to bottom, #2c576e 20%, #5481ad 50%, #2c576e 80%);
      }
      .part-state-export {
        position: absolute;
        top: 0;
        right: 1em;
      }
    }
    .device-monitor-content {
      flex: 1;
      overflow: auto;
    }
    .device-part-content {
      flex: 1;
      overflow: hidden;
      display: flex;
      flex-direction: column
    }
    .part-content {
      .d-flex(1em, flex-start, space-between);
      width: 100%;
      height: 70%;
      overflow: hidden;

      .part-content-model {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .fan-cross-section {
        width: 80%;
        height: 80%;
        object-fit: scale-down;
      }
      .part-content-table {
        width: 68%;
        height: 100%;
      }
      .custom-table-wrap {
        width: 38%;
        .info-value {
          text-align: left;
        }
      }
    }

    .part-run-state {
      padding: 0.5em 0;
      flex: 1;
      .d-flex(0.4em, center, flex-start);
      align-content: flex-start;
      flex-wrap: wrap;
      width: 100%;
      overflow: auto;
      .part-state-item {
        .d-flex(0.2em, center, flex-start);
        width: 16%;
        height: @info-btn-height;
        line-height: @info-btn-height;
        border: 1px solid var(--deep-gray);
        border-radius: 0.4em;
        .red {
          color: var(--fault);
        }
        .blue {
          color: var(--success-color);
        }
        .no {
          color: var(--graycolor);
        }
        .part-state-name {
          width: 100%;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
  }
}
