.vtable {
  display: flex;
  flex-direction: column;
  .vtable-title {
    
    .vtable-title-name {
    }
  }
  .vtable-content {
    flex-wrap: wrap;
    flex: 1;
    overflow: auto;
    justify-content: flex-start;
    align-content: flex-start;
    .info-value {
      text-align: left;
    }
  }
  .vtable-con {
    width: 100%;
    padding: .375rem;
    display: flex;
    .vtable-con-list {
      width: 50%;
      padding: .25rem;
      display: flex;
      .vtable-com-name {
        width: 60%;
        padding-right: .25rem;
        word-break: break-all;
      }
      .vtable-com-value {
        width: 40%;
      }
    }
  }
  
}