.alm-ctbox {
  position: absolute;
  top: 4em;
  right: 2em;
  z-index: 999;
  .alm-ctbox-list {
    position: relative;
    display: flex;
    background-image: url(@/assets/header/alarm-box.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    @icon-list: 1, 2, 11, 12, 13, 14;
    each(@icon-list, {
      .alarm-@{value} {
        
        background-image: ~"url(@/assets/header/alarm-@{value}.png)";
        background-repeat: no-repeat;
      }
    })
    .alm-ctbox-item {
      height: 3em;
      line-height: 3em;
      min-width: 9em;
      cursor: pointer;
      font-size: 1em;
      color: var(--white-color);
      text-align: center;
      position: relative; /* 相对定位 */
      float: left; /* 左浮动 */
      clear: left; /* 避免左侧重叠 */
    }
     
    .alm-ctbox-item:nth-child(n+2) {
      margin-left: -1em; 
    }
  }
}