.alarm-shutdown {
  width: 400px;
  z-index: 10;
  position: absolute;
  top: 50px;
  background: linear-gradient(180deg, rgba(14, 33, 100, 0.93) 0%, rgba(15, 34, 97, 0.93) 100%);
  .alarm-shutdown-content {
    padding: 1em;
  }
  .alarm-shutdown-title {
    height: 1.875rem;
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}