.state-alarm-box {
  position: absolute;
  top: 3.125rem;
  right: 3.125rem;
  z-index: 99999;
  background-color: #1d2d5d;
  height: max-content;
  padding: 1em;
  line-height: 1;
  border-radius: 1em;
  color: rgb(245, 84, 84);
  .close {
    float: right;
    color: var(--white-color);
  }
}