.help-tabs {
  min-height: 500px;
  .ant-tabs-content-holder {
    border-left: none
  }
  .help-version-list {
    .help-version-time {
      margin-bottom: .625rem;
    }
    .help-img {
      display: block;
      width: 25em;
      height: 25em;
      background-image: url(/src/assets/share.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
    .ant-table-wrapper .ant-table-thead >tr>th {
      background: transparent;
    }
    .ant-table-wrapper .ant-table.ant-table-bordered >.ant-table-container {
      border-inline-start: 1px solid #ffffff;
      border-top: 1px solid #ffffff;
      .ant-table-content {
        table {
          thead>tr>th {
            border-inline-end: 1px solid #ffffff;
          }
          tbody>tr>td {
            border-inline-end: 1px solid #ffffff;
          }
        }
      }
    }
    .ant-table-wrapper .ant-table-thead >tr >th {
      border-bottom: 1px solid #ffffff;
    }
     .ant-table-wrapper .ant-table-tbody >tr >td {
      border-bottom: 1px solid #ffffff;
    }
  }
  .help-ov-list {
    .help-ov-list-item {
      margin-bottom: 1em;
      .ov-i {
        display: flex;
        img {
          margin: 0 1em;
          width: 2em;
          height: 2em;
        }
        .ov-text {
          font-size: 1.3em;
        }
      }
      
    }
  }
}