.two-alarm-box {
  .two-alarm-title {
    display: flex;
    line-height: 1;
    .title-span {
      padding: 0.8em 2em;
      color: var(---white-color);
      opacity: 0.5;
      &.active {
        opacity: 1;
      }
    }
  }
}