.nx-com-radio {
  display: flex;
  .choose-item {
    font-size: 1.4em;
    width: 4em;
    height: 2.2em;
    margin-left: 1em;
    border-radius: 0.5em;
    cursor: pointer;
    background-image: url(/src/assets/yunnan-screen/icon1.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.4;
  }
  .active-i {
    opacity: 1;
  }
}