.am-detail {
  height: 36em;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  .custom-table-wrap {
    flex: 1;
  }
  .am-detail-bottom {
    width: 100%;
    margin-top: 1em;
    text-align: center;
  }
}