.area-site-quality {
  height: 100%;
  .ant-card-body {
    height: 100% !important;
    // min-height: 10em;
    .chart-wrap {
      margin: 0;
    }
  }
  .clickRowStyl {
    background-color: var(--bg-active) !important;
  }
}