.ah-cqt {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
  @font-face {
    font-family: DigitalFont;
    src: url(@/styles/font/dp-hei.ttf);
  }
  font-family: DigitalFont, sans-serif;
  .ah-cqt-name {
    font-size: 3.2em;
    line-height: 1;
    color: #00FFC9;
  }
  .ah-cqt-val {
    display: flex;
    margin: 0 2em;
    .ah-cqt-vitem {
      width: 1em;
      height: 1.2em;
      font-size: 4em;
      margin-right: 0.25em;
      text-align: center;
      background: linear-gradient(to bottom, rgba(7,20,38,0) 0%, #048378 100%);
      border-radius: 0.1em;
      
    }
  }
}