.ah-cbt {
  width: 100%;
  display: flex;
  justify-content: space-around;
  .ah-cbt-item {
    display: flex;
    .item-left {
      display: flex;
      flex-direction: column;
      .item-cp-name {
        font-size: 1.8em;
        color: #00FFC9;
      }
      .item-cp-val {
        font-size: 2.8em;
        line-height: 1.2;
        color: #ffffff;
      }
      .item-cp-unit {
        font-size: 1.6em;
        line-height: 1.5;
        color: rgba(255, 255, 255, .6);
      }
    }
    .item-right {
      height: 8.8em;
      width: 12.4em;
      margin-left: 4em;
      border-radius: 0.4em;
      border: 1px solid #038177;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      .item-right-bottom {
        width: 100%;
        height: 1.9em;
        font-size: 1.8em;
        text-align: center;
        line-height: 1.9em;
        background: rgba(0,255,201,0.46);
      }
      .item-right-top {
        line-height: 1.5;
        .item-num-val {
          font-size: 3.2em;
        }
        .item-num-unit {
          font-size: 1.6em;
          color: rgba(255, 255, 255, .6);
          margin-left: .5em;
        }
      }
    }
  }
}