@font-face {
  font-family: "iconfont"; /* Project id 3948944 */
  src: url('iconfont.woff2?t=1694078662197') format('woff2'),
       url('iconfont.woff?t=1694078662197') format('woff'),
       url('iconfont.ttf?t=1694078662197') format('truetype');
}

.iconfont {
  font-family: "iconfont", serif !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-loginout:before {
  content: "\e622";
}

.icon-user:before {
  content: "\e624";
}

.icon-alarm-info:before {
  content: "\e605";
}

.icon-collect:before {
  content: "\e86d";
}

.icon-edit:before {
  content: "\e8cf";
}

.icon-collected:before {
  content: "\e906";
}

.icon-voice-off:before {
  content: "\e8b8";
}

.icon-voice-on:before {
  content: "\e8b9";
}

.icon-help:before {
  content: "\e663";
}

.icon-area-point:before {
  content: "\e77d";
}

.icon-jianpan_o:before {
  content: "\eb4b";
}

.icon-shebeisousuo:before {
  content: "\ead2";
}

.icon-shebeisousuo_o:before {
  content: "\eb58";
}

.icon-xitongguanli2:before {
  content: "\e648";
}

.icon-shipinjiankong:before {
  content: "\e637";
}

.icon-regulatory-reporting:before {
  content: "\e7ba";
}

.icon-fengji:before {
  content: "\e606";
}

.icon-fengdian:before {
  content: "\e74c";
}

.icon-xianshi:before {
  content: "\e63b";
}

.icon-yincang:before {
  content: "\e63c";
}

.icon-qingkong:before {
  content: "\e657";
}

.icon-Alarm:before {
  content: "\e604";
}

.icon-alarm-warning-fill:before {
  content: "\e642";
}

.icon-MPIS-AlarmTps:before {
  content: "\e61c";
}

.icon-xiufurepair3:before {
  content: "\e880";
}

.icon-xitongxiufu:before {
  content: "\e66f";
}

.icon-duoxuan:before {
  content: "\e63d";
}

.icon-quxiao:before {
  content: "\e643";
}

.icon-system:before {
  content: "\e6ea";
}

.icon-querenyushangbao:before {
  content: "\e60c";
}

.icon-yewuguanli:before {
  content: "\e607";
}

.icon-xitongguanli:before {
  content: "\e671";
}

.icon-xitongguanli1:before {
  content: "\e614";
}

.icon-tongjifenxi:before {
  content: "\e623";
}

.icon-system-manage:before {
  content: "\e615";
}

.icon-shishijiankong:before {
  content: "\e601";
}

.icon-DeviceManage-Filled:before {
  content: "\e639";
}

.icon-yubao:before {
  content: "\e681";
}

