.hbs-right {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  .hbs-cr-con {
    width: 49.5%;
    height: 49.5%;
    
  }
  .hbs-cr-7 {
    height: 69%;
    
    .screen-box {
      background-image: url(/src/assets/hubei-screen/state-ov.png);
    }
  }
  .hbs-cr-3 {
    height: 30%;
    .screen-box {
      background-image: url(/src/assets/hubei-screen/box-bg.png);
    }
  }
}