.sx-box-header {
  width: 70%;
  height: 6em;
  padding-left: 12em;
  margin-left: 2em;
  background-image: url(/src/assets/shanxi-screen/box-header.png);
  background-repeat: no-repeat;
  background-size: 100% 100%; 
  position: relative;
  .sx-box-name {
    position: absolute;
    bottom: 0;
    display: block;
    line-height: 2em;
    font-size: 1.8em;
  }
}