.dvs-drawer {
  width: 100%;
  height: 100%;
  padding: 0 1em;
  background-color: #0a0c33;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  .ant-btn-circle {
    position: absolute;
    background: #1b294b url("@/assets/site/back.png") no-repeat center;
    background-size: 70%;
    border: none !important;
    outline: none !important;
  }
  .dvs-drawer-top {
    position: relative;
    height: 3em;
  }
  .dvs-drawer-con {
    flex: 1;
    overflow: hidden;
    .monitor-tbt {
      padding-top: 0;
    }
  }
}