.cancel-shield {
  height: 400px;
  display: flex;
  flex-direction: column;
}
.alarm-shield {
  position: relative;
  .float-search {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #081D3D;
    width: 24em;
    padding: 1em;
    .float-search-title {
      border-bottom: 1px solid;
      margin-bottom: 1em;
      display: flex;
      justify-content: space-between;
    }
  }
}