.hbscreen-two .hb-center, .hb2-tc .hb-center {
  height: 100%;
  width: 100%;
  padding: 2em;
  position: relative;
  display: flex;
  flex-direction: column;
  .map-top {
    // position: absolute;
    width: 100%;
  }
  .map-center {
    flex: 1;
    width: 100%;
  }
  .map-bottom {
    .cquota-box-name {
      color: rgba(81, 145, 255, 1);
      .unit {
        color: rgba(81, 145, 255, 0.6);
      }
    }
  }
}