.hbscreen-two .elec-view, .hb2-tl .elec-view {
  background-image: url(/src/assets/hubei-screen/state-ov.png) !important;
  .hb-elec-content {
    flex: 1;
    .ant-table {
      background: transparent !important;
      font-size: 16px;
    }
    .area-elec-wrap {
      padding: 0;
    }
  }
}