.elec-chart-one {
  width: 100%;
  height: 100%;
  display: flex;
  .elec-chart-left {
    width: 40%;
    height: 100%;
  }
  .elec-chart-right {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .elec-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      .elec-box-value {
        font-size: 3em;
        color: #6BD0E1;
      }
      .elec-box-name {
        font-size: 1.6em;
      }
    }
  }
}