.hbscreen-two .state-view , .hb2-tl .state-view, .hb2-tr .state-view{
  height: 100%;
  width: 100%;
  background-image: url(/src/assets/hubei-screen/state-ov.png) !important;
  .state-view-content {
    flex: 1;
    overflow: auto;
    .area-state {
      // font-size: 22px;
      font-size: 12px;
    }
    .ant-tabs-tab {
      // font-size: 14px;
      font-size: 10px;
    }
  }
}