.scn-weather {
  .weather-chart {
    padding: 1.3em 2.2em;
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    .weather-site-box {
      width: 49%;
      height: fit-content;
    }
  }
}