.year-rate {
  .year-chart {
    flex: 1;
    position: relative;
    overflow: hidden;
    .station-select {
      height: 2em;
      width: 22em;
      position: absolute;
      right: 5em;
      top: 0;
      z-index: 3;
      .ant-select {
        .ant-select-selector {
          font-size: 14px;
        }
      }
    }
  }
}