.area-quality-anls {
  height: 100%;
  .ant-card-extra {
    width: max-content;
  }
  .ant-card-body {
    height: 100%;
    // min-height: 10em;
    .chart-wrap {
      margin: 0;
    }
    
  }
  .ant-card-head {
    .img-bg-title {
      width: 18em;
    }
  }
}