
.svgcom{
  height: 100%;
  
  .device-icon {
    position: relative;
    .feng-ye {
      width: 60px;
      height: 60%;
    }
    .feng-zhu {
      width: 60px;
      height: 40%;
      position: absolute;
      top: 38%;
      left: 0;
    }
  }
  
}