.module-data {
    display: flex;

    height: calc(100% - 30px);
    .module-left {
        height: calc(100% - 10px);
        width: 18rem;
        overflow-y: scroll;
        font-size: 10px;
    }
    .module-right {
        width: 100%;
        height: 100%;
        flex: 1;
        .top-tip {
            font-size: 14px;
            text-align: center;
        }
    }

}