.screen-company {
  width: 137.1em;
  // height: 220em;
  // min-height: 127em;
  // max-height: 150em;
  padding: 10em 6em;
  
  background-image: url(/src/assets/large-screen/company-box.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  
  .company-title {
    font-size: 5em;
  }
  .company-content {
    font-size: 5em;
    line-height: 2.5em;
    overflow: auto;
  }
}