.js-screen .elec-overview {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  overflow: hidden;
  .elec-com {
    width: 49.5%;
    height: 100%;
    overflow: hidden;
    font-size: 10px;
  }
}