.tbox-q {
  display: flex;
  // align-items: center;
  margin-right: 2em;
  @icon-list: capacity, actPower, day, speed, radiation;
  each(@icon-list, {
    .i-@{value}  {
      background-image: ~"url(@/assets/hubei-screen/new/@{value}.png)";
    }
  });
  i {
    height: 5.1em;
    width: 6.9em;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 2em;
    margin-top: 1em;
  }
}