.gdscreen .screen-box-title {
  // height: 5em;
  position: relative;
  .box-name {
    width: 100%;
    
    text-align: center;
    // margin-top: 0.2em;
    display: flex;
    flex-wrap: nowrap;
    .box-name-t {
      width: 13em;
      height: 2.5em;
      margin-top: 0.1em;
      padding-right: 1em;
      font-size: 1.6em;
      background-image: url(/src/assets/hubei-screen/tl-box.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
    .box-name-line {
      height: .4em;
      flex: 1;
      background-image: url(/src/assets/guangdong-screen/tl-box-line.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
  }
  .box-right {
    position: absolute;
    top: 1em;
    right: 2em;
  }
}