@import "@/styles/layout-flex";

.detail-title-wrap {
  &,
  .device-info-box {
    .d-flex(1em, center, space-between);
    flex-wrap: nowrap;
    width: 100%;
  }
  .ant-btn-circle {
    background: #1b294b url("@/assets/site/back.png") no-repeat center;
    background-size: 70%;
    border: none;
    outline: none;
  }
  .dvs-part-btn {
    background: var(--bg-linear-active);
    border: none;
    outline: none;
  }
}
