.hb-cp-form {
  // display: flex;
  overflow: auto;
  .hb-cp-list {
    display: flex;
    .hb-cp-item {
      width: 48%;
      .hb-cp-item-type {
        font-size: 1.4em;
      }
      .hb-cp-item-title {
        display: flex;
        margin-bottom: 1em;
        span {
          width: 30%;
          font-size: 1.4em;
        }
      }
      .reset-item {
        display: flex;
        margin-bottom: 0.2em;
      }
      
      .ant-btn-dashed {
        width: 30%;
        display: block;
        color: #164ec5;
      }
    }
    
  }
  
}