.sx-elec-form {
  // height: 100%;
  overflow: auto;
  .sq-elec-form-title {
    display: flex;
    margin-bottom: 1em;
    span {
      width: 30%;
      font-size: 1.4em;
    }
  }
  .reset-item {
    display: flex;
    margin-bottom: 0.2em;
  }
  
  .ant-btn-dashed {
    width: 30%;
    display: block;
    color: #164ec5;
  }
}