.hb-yh-form{
  overflow: auto;
  .hb-md-item {
    .sq-form-title {
      display: flex;
      margin-bottom: 1em;
      span {
        width: 30%;
        font-size: 1.4em;
      }
    }
    .reset-item {
      display: flex;
      margin-bottom: 0.2em;
    }
    .btn{
      width: 8em;
      display: block;
      color: #164ec5;
    }
  }
  
}