.sx-center-map {
  height: 100%;
  width: 100%;
  padding-top: 10em;
  .sx-map-tbox {
    width: 20em;
    color: #ffffff;
    .map-tbox-title {
      width: 100%;
      height: 2.5em;
      margin-bottom: 0.5em;
      font-size: 1.4em;
      line-height: 2.5em;
      text-align: center;
      background-image: url(/src/assets/shanxi-screen/tltp-title.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
    .map-tbox-cnt {
      width: 100%;
      height: 12.7em;
      padding: 1.5em 0 0 1.5em;
      background-image: url(/src/assets/shanxi-screen/tltp-con.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      .map-cnt-item {
        line-height: 2.4em;
        display: flex;
        .cnt-item-name, .cnt-item-unit {
          font-size: 1.4em;
        }
        .cnt-item-value {
          min-width: 5em;
          padding-left: 0.5em;
          font-size: 1.4em;
          color: rgba(0, 246, 255, 0.91);
        }
      }
    }
  }
}