.reset-list {
  .reset-item {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    .reset-item-name {
      min-width: 12em;
      text-align: right;
      margin-right: 1em;
    }
  }
}