.hn-com-radio {
  display: flex;
  .choose-item {
    font-size: 2em;
    width: 5.5em;
    height: 1.7em;
    cursor: pointer;
    background-image: url(/src/assets/hubei-screen/icon1.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
  }
  .active-i {
    opacity: 1;
  }
}