.target-box {
  .target-box-checkbox {
    padding: .625rem;
    margin-top: .625rem;
    background: var(--split-color);
    .ant-checkbox-group {
      display: flex;
      flex-direction: column;
    }
  }
  
}
.site-target-box {
  width: 400px;
  padding: .625rem;
  background: var(--primary-color);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  .target-box-btn {
    margin-top: 10px;
  }
}
