@import "@/styles/layout-flex";
.site-frequency-chart {
  width: 100%;
  height: 100%;
  position: relative;
  .agvc-data-select {
    position: absolute;
    top: -2.5em;
    right: 2em;
    z-index: 1;
    display: flex;
    gap: 1em;
  }
}
