.sx-rt-form {
  .rlt-info {
    width: 100%;
    display: flex;
    margin-bottom: 1em;
    .reset-item {
      width: 45%;
    }
  }
  .sq-form-title {
    display: flex;
    span {
      width: 20%;
    }
  }
  .reset-item {
    display: flex;
  }
  .ant-btn-dashed {
    width: 30%;
    display: block;
    color: #164ec5;
  }
}