.sx-site-form {
  width: 100%;
  height: 100%;
  padding: 0 1em;
  overflow: auto;
  .ant-input {
    height: 30px;
    border: 1px solid var(--border-color);
  }
  .ss-form {
    .ss-form-title {
      display: flex;
      
    }
  }
  .reset-item {
    display: flex;
    border-bottom: 1px solid #ffffff;
  }
  .ss-form-tooltip {
    // display: flex;
    .ss-tooltip-item {
      display: flex;
      .t-name {
        width: 90px;
      }
    }
  }
  .ant-btn-dashed {
    width: 30%;
    display: block;
    color: #164ec5;
  }
}