/*
 * @Author: chenmeifeng
 * @Date: 2024-09-18 11:02:34
 * @LastEditors: chenmeifeng
 * @LastEditTime: 2024-09-25 14:51:45
 * @Description: 
 */
.hn-cbox-header {
  width: 100%;
  height: 5.8em;
  display: flex;
  align-items: center;
  position: relative;
  .cbox-header-left {
    width: 30em;
    // max-width: 80%;
    height: 100%;
    padding-left: 5em;
    background-image: url(/src/assets/henan-screen/box-header.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-size: 2em;
    line-height: 1;
    display: flex;
    align-items: center;
  }
  .hn-cbox-header-right {
    position: absolute;
    right: 0;
  }
}